#-remote-site-list-parent-list-form > div > * {
    float: left;
}
#-remote-site-list-parent-list-form #edit-submit {
    margin: 20px 40px;
}
.remote_site_list_parent-modules-link,
.remote_site_list_parent-status-link {
    cursor: pointer;
}
.remote_site_list_parent-modules-link:hover,
.remote_site_list_parent-status-link:hover {
    text-decoration: underline;
}

